<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style2.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="wrapper">
        <form action="/signup" method="POST">
            <h1>Sign Up</h1>
            <div class="input-box">
                <input type="text" id="username" name="username" placeholder="Username"required>
                <i class="fa fa-user-circle-o"></i>
            </div>

            <div class="input-box">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <i class="fa fa-lock"></i>
            </div>

    
        <input type="submit" class="btn" value="Sign Up">

        </form>
    </div>
</body>
</html>
